= render "partials/nav"
.bg-white.mx-auto.max-w-2xl.rounded-lg.overflow-hidden.p-2
  %h1 New webhook

  = render 'form'

  = link_to 'Back', webhooks_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
